# you need to install the following packages to be able to run the user app:

# pip install kivy
# pip install opencv-python
# pip install pyzbar
# pip install kivy-garden
# pip install "kivy_garden.mapview"
# pip install mapview
